<section class="grid grid-3col">
    <aside class="sidebar">
        <h2>Disciplines</h2>
        <div class="resource flex-group-center">
            <label for="system.aware" class="resource-label rollable" data-roll-type="skill" data-skill="{{system.disciplines.aware}}" data-attribute="conc">{{localize 'slaindustries.ebb.aware'}}</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input type="number" name="system.disciplines.aware" value="{{system.disciplines.aware}}" data-dtype="Number" />
            </div>
        </div>
        <div class="resource flex-group-center">
            <label for="system.blast" class="resource-label rollable" data-roll-type="skill" data-skill="{{system.disciplines.blast}}" data-attribute="conc">Blast</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input type="number" name="system.disciplines.blast" value="{{system.disciplines.blast}}" data-dtype="Number" />
            </div>
        </div>
        <div class="resource flex-group-center">
            <label for="system.comm" class="resource-label rollable" data-roll-type="skill" data-skill="{{system.disciplines.comm}}" data-attribute="conc">Communication</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input type="number" name="system.disciplines.comm" value="{{system.disciplines.comm}}" data-dtype="Number" />
            </div>
        </div>
        <div class="resource flex-group-center">
            <label for="system.enh" class="resource-label rollable" data-roll-type="skill" data-skill="{{system.disciplines.enh}}" data-attribute="conc">Enhance</label>
            <div class="resource-content flexrow flex-center flex-between ">
                <input type="number" name="system.disciplines.enh" value="{{system.disciplines.enh}}" data-dtype="Number" />
            </div>
        </div>
        <div class="resource flex-group-center">
            <label for="system.heal" class="resource-label rollable" data-roll-type="skill" data-skill="{{system.disciplines.heal}}" data-attribute="conc">Heal</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input type="number" name="system.disciplines.heal" value="{{system.disciplines.heal}}" data-dtype="Number" />
            </div>
        </div>
        <div class="resource flex-group-center">
            <label for="system.prot" class="resource-label rollable" data-roll-type="skill" data-skill="{{system.disciplines.prot}}" data-attribute="conc">Protection</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input type="number" name="system.disciplines.prot" value="{{system.disciplines.prot}}" data-dtype="Number" />
            </div>
        </div>
        <div class="resource flex-group-center">
            <label for="system.fold" class="resource-label rollable" data-roll-type="skill" data-skill="{{system.disciplines.fold}}" data-attribute="conc">Reality Fold</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input type="number" name="system.disciplines.fold" value="{{system.disciplines.fold}}" data-dtype="Number" />
            </div>
        </div>
        <div class="resource flex-group-center">
            <label for="system.sense" class="resource-label rollable" data-roll-type="skill" data-skill="{{system.disciplines.sense}}" data-attribute="conc">Senses</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input type="number" name="system.disciplines.sense" value="{{system.disciplines.sense}}" data-dtype="Number" />
            </div>
        </div>
        <div class="resource flex-group-center">
            <label for="system.tele" class="resource-label rollable" data-roll-type="skill" data-skill="{{system.disciplines.tele}}" data-attribute="conc">Telekenesis</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input type="number" name="system.disciplines.tele" value="{{system.disciplines.tele}}" data-dtype="Number" />
            </div>
        </div>
        <div class="resource flex-group-center">
            <label for="system.therm" class="resource-label rollable" data-roll-type="skill" data-skill="{{system.disciplines.therm}}" data-attribute="conc">Thermal</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input type="number" name="system.disciplines.therm" value="{{system.disciplines.therm}}" data-dtype="Number" />
            </div>
        </div>
    </aside>
    <section class="main grid-span-2">
        <ol class="items-list">
            <h2>Formulae</h2>
            {{#each formulae as |formulae discipline|}}
            <li class="item flexrow items-header">
                <div class="item-name">{{discipline}} formulae</div>
                <div class="item-prop">Formula Rating</div>
                <div class="item item-controls"> </div>
            </li>
            {{#each formulae as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
                <div class="item-name flexrow">
                    <div class="item-image">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    </div>
                    <a class="item-control item-edit" title="Edit Item"><h4>{{item.name}}</h4></a>
                </div>
                <div class="item-prop">{{system.fr}}</div>
                <div class="item-controls">
                    <!--<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>-->
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
            {{/each}}
        </ol>
    </section>
</section>