<ol class="items-list">
	{{!-- The grid classes are defined in scss/global/_grid.scss. To use,
    use both the "grid" and "grid-Ncol" class where "N" can be any number
    from 1 to 12 and will create that number of columns.  --}}
    <div class="abilities flexcol">
        {{#each system.skills as |skill key|}}
        <div class="ability flexrow flex-group-center">
			<label for="system.skills.{{key}}.name" class="resource-label rollable flexlarge align-left" data-roll="1d10 + {{skill.rank}}d10" data-label="{{skill.name}}">{{skill.name}}</label>
			<input type="text" name="system.skills.{{key}}.rank" value="{{skill.rank}}" data-dtype="Number"/>
        </div>
        {{/each}}
	</div>
</ol>

