<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label class="resource-label">Formulae Rank</label>
        <input type="text" name="system.rank" value="{{system.rank}}" data-dtype="Number"/>
      </div>
	  <div class="resource">
        <label class="resource-label">Formulae Rating</label>
        <input type="text" name="system.fr" value="{{system.fr}}" data-dtype="Number"/>
      </div>
	  <div class="resource">
        <label class="resource-label">Formulae Discipline: <input list="discipline" name="system.discipline" value="{{system.discipline}}" /></label>
        <datalist id="discipline">
            <option value="Awareness">
            <option value="Blast">
            <option value="Communication">
            <option value="Enhance">
            <option value="Heal">
            <option value="Protection">
            <option value="Reality Fold">
            <option value="Senses">
            <option value="Telekenesis">
            <option value="Thermal">
        </datalist>
      </div>
    </div>
	<div class="resource">
        <label class="resource-label">Duration</label>
        <input type="text" name="system.duration" value="{{system.duration}}" data-dtype="String"/>
      </div>
    </div>
  </section>
</form>
